#collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.collection-grid {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.centered {
    text-align: center;
    margin-top: 1rem;
}
hr.gold {
    border-color:goldenrod;

}
hr.grey {
    border-style:dashed;

}
button {
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(96, 0, 239);
    color: white;
    font-weight: bold;
}
