<header id="collection-header">
    <h1>My Collection</h1>
    <div>
    <app-search-bar
       [(search)]="searchText"

    ></app-search-bar>

  </div>
</header>
<section class="collection-grid">
  @for (item of collectionItems(); track item.name) {
    @switch (item.rarity) {
      @case ('Legendary') {
        <div>
          <app-collection-item-card [item]="item"></app-collection-item-card>
          <hr class="gold">
        </div>
      }
      @case ('Rare') {
        <div>
          <app-collection-item-card [item]="item"></app-collection-item-card>
          <hr class="grey">
        </div>
      }
      @default {
        <app-collection-item-card
          [item]="item"
        ></app-collection-item-card>


      }
    }
  }

</section>

@let itemCount = collectionItems().length;
@if (itemCount) {
  <div class="centered">Found {{itemCount}} results</div>

}@else {
  <div class="centered"> No items founds</div>
}
<h2>Compteur : {{ count() }}</h2>
<h3>Double : {{ doubleCount() }}</h3>
<H3>triple : {{ tripleCount() }}
</H3>
<button (click)="incrementCount()">+1</button>


